<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        h1 {
            text-align: center;
            color: #ff8f47;
            text-transform: uppercase;
            font-family: Arial, sans-serif;
        }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1>Добро пожаловать в наш магазин ЦВЕТОВ!</h1>

<div class="container">
    {% block body %}

        <a class="btn btn-info" href="{% url 'delete-all' %}">Удалить все</a>
        <a class="btn btn-info" href="{% url 'create-new' %}">Создать цветок</a>
        <div>Lorem ipsum.</div>
        <p>Lorem ipsum.</p>
        <span>Lorem ipsum dolor sit.</span>
        <span>Lorem ipsum dolor sit.</span>
        <h3>В нашем ассортименте имеются такие позиции:</h3>
        <ul>
            {% for flower in all_flowers %}
                <li><a href="{% url 'detail' flower.id %}">{{ flower.name }} по цене <b>{{ flower.price }}</b>
                    грн</a>
                    <a class="btn btn-danger" href="{% url 'delete' flower.id %}">Удалить цветок</a>
                </li>
                <small>/detail-view/{{ flower.id }}</small>
            {% empty %}
                <p class="alert alert-info">На данный момент цветов нет (</p>
            {% endfor %}
        </ul>
    {% endblock %}
    {% if deleted == True %}
        <div class="alert alert-success">Удаление прошло успешно!</div>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
</div>
</body>
</html>

<!-- asdasdasdasd -->