{% extends 'index.html' %}

{% block body %}
    <h3>Создать цветок</h3>
    <a class="btn btn-link" href="/">На главную</a>
    <form method="post" action="{% url 'create-new' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlSelect1">Тип цветка</label>
            <select required name="type_flower" class="form-control" id="exampleFormControlSelect1">
                {% for type in all_types %}
                    <option value="{{ type.id }}">{{ type.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Название цветка</label>
            <input required name="name" type="text" class="form-control" id="exampleFormControlInput1"
                   placeholder="Название цветка">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Цена за шт</label>
            <input required name="price" type="text" class="form-control" id="exampleFormControlInput1"
                   placeholder="35">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Высота стебля (м)</label>
            <input required name="height" type="text" class="form-control" id="exampleFormControlInput1"
                   placeholder="1 м">
        </div>
        <button class="btn btn-success">Добавить</button>
    </form>

    {% if added %}
        <div class="alert alert-success">Добавление прошло успешно!</div>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
{% endblock %}