{% extends 'index.html' %}

{% block body %}
    <a href="/">Вернуться на домашнюю страницу</a>
    {% if  flower_object.image %}
        <img width="300" src="{{ flower_object.image.url }}" alt="">
    {% else %}
        <div>
            Фото нет (
        </div>
    {% endif %}
    <h3>Вы сейчас просматриваете {{ flower_object.name }}</h3>

    <div>
        Тип цветка - {{ flower_object.type_flower.name }}
    </div>
    <hr>
    <div>
        Цена - {{ flower_object.price }} грн
    </div>
    <hr>
    <div>
        Высота стебля - {{ flower_object.height }} м
    </div>

    <h2>Вы так же можете просмотреть следующие цветы:</h2>
    <ul>
        {% for flower in all_flowers %}
            <li><a href="{% url 'detail' flower.id %}">{{ flower.name }} по цене <b>{{ flower.price }}</b> грн</a></li>
        {% endfor %}
    </ul>
{% endblock %}